openai
langchain
langchain-community
langchain-openai
langchain-chroma
chromadb
tiktoken
pypdf
python-dotenv
jupyter
nbconvert
pandas
numpy
python-docx
unstructured[standard]
python-magic
matplotlib
json5
requests
rich
